.accueil{
    background-image: url(./images/asfalt-light.png);
}

.name{
    border: solid 2px black;
    margin:  0 auto ;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 200px;
    background-color: rgba(17, 17, 201, 0.94);
    font-weight: 900;
    color:white;
    justify-content: center ;
    margin-top: 50px;
    font-size: larger;
    
}

input{
    margin: 30px auto;
    padding: 5px;
    border-radius: 10px;
    color: rgb(35, 185, 110);
    font-size: medium;
    font-weight: 900;
}

label{
    margin-top: 10px;
    
}

button{
    font-size: medium;
    font-weight: 900;
    background-color: rgb(76, 235, 156);
    border: none;
}
