*, ::after, ::before {
  box-sizing: border-box;
}

.areaGame {
  width: 800px;
  height: 640px;
  position: relative;
  cursor: url('./images/cursor.png'), pointer;
}

#start {
  margin-top: 30px;
  margin-right: 100px
}

.circle {
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 50%;
}

.circle:active {
  box-shadow: 4px 4px 4px 4px rgb(236, 128, 56);
}

.circle2:active {
  box-shadow: 4px 4px 4px 4px rgb(242, 48, 14);
}

.circle2 {
  width: 75px;
  height: 75px;
  position: absolute;
  border-radius: 50%;
}

.containerGame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.empty {
  height: 200px;
}

.flex {
  display: flex;
  margin-top: 20px;
}

.rectangle {
  width: 100%;
  height: 100%;
  background-color: #111;
  position: relative;
  padding: 1%;
}