.accueil{
    padding-top:30px;
}

.accueil h1{
    font-size: 60px;
    color: rgb(236, 91, 33);
}

.name{
    border: solid 2px black;
    margin:  0 auto ;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 200px;
    background-color:black;
    font-weight: 900;
    color:white;
    justify-content: center ;
    margin-top: 50px;
    font-size: larger;
    border-radius: 10px;
}



input{
    margin: 30px auto;
    padding: 5px;
    border-radius: 10px;
    color: rgb(236, 91, 33);
    font-size: medium;
    font-weight: 900;
}

label{
    margin-top: 10px;
    
}

.accueil button{
    width: 60px;
    font-size: medium;
    font-weight: 900;
    background-color: rgb(236, 91, 33);
    border: none;
    border-radius: 10px;
}
