.dialog-box-rules {
    padding-top: 50px;
}

.rules-container {
    border: solid 2px black;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: black;
    font-weight: 900;
    color: white;
    justify-content: center;
    margin-top: 50px;
    font-size: larger;
    border-radius: 10px;
}

button {
    padding: 10px 0;
    width: 200px;
    font-size: medium;
    font-weight: 900;
    background-color: rgb(236, 91, 33);
    border: none;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
}

.rules-title {
    color: rgb(236, 91, 33);
    font-size: 60px;
}