.dialog-box {
    padding-top: 50px;
}

.story-container{
    border: solid 2px black;
    margin:  0 auto ;
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color:black;
    font-weight: 900;
    color:white;
    justify-content: center ;
    margin-top: 50px;
    font-size: larger;
    line-height: 30px;
    padding: 30px;
    border-radius: 10px;
}

button{
    padding: 10px 0;
    width: 200px;
    font-size: medium;
    font-weight: 900;
    background-color: rgb(236, 91, 33);
    border: none;
    border-radius: 10px;
}

button:hover{
    cursor: pointer;
}

#name{
    font-size: larger;
    color:rgb(236, 91, 33);
}

.dialog-box h1{
    color: rgb(236, 91, 33);
    font-size: 50px;
}